<div id="show-header">
    <h1>{{user.schedule.name}}</h1>
    <a href="/{{user._id}}/edit" class="button">Edit</a>
    <a href="/" class="button">Back</a>
    <a href="/{{user._id}}/compare" class="button is-info">Compare</a>
</div>
<div id="schedule-wrapper">
    <div class="day-col">
        <h2>Day 1</h2>
        <br>
        {{#each user.schedule.day1}}
        <div class="event">
            <p>{{performer}}</p>
            <p>{{time}}</p>
        </div>
        {{/each}}
    </div>
    <div class="day-col">
        <h2>Day 2</h2>
        <br>
        {{#each user.schedule.day2}}
        <div class="event">
            {{performer}}
            <br>
            {{time}}
        </div>
        {{/each}}
    </div>
    <div class="day-col">
        <h2>Day 3</h2>
        <br>
        {{#each user.schedule.day3}}
        <div class="event">
            {{performer}}
            <br>
            {{time}}
        </div>
        {{/each}}
    </div>
</div>